.block{
    display: flex;
    height:940px;
    margin-left:231.49px;
    margin-top:70.21px;
    width: 934px;
    position: relative;
    transition: .5s;
    opacity:0;

    @media (max-width:768px) {
        display: none;
    }

    .column{
        position: relative;
        display: flex;
        flex-direction: column;

        .img{
            width:456px;
            height:456px;
            transform: rotate(2deg);
    
            &:first-child{
                margin-bottom:25px;
                margin-left:17.75px;
            }
        }

        &:last-child{
            right:-25px;
            top: -210.64px;
        }

        .palkiIcon{
            position:absolute;
            right:-260px;
            top:-155px;
            opacity:0;
            transition: .5s;

            &.active{
                right:-160px;
                opacity:1;
                transition: .5s;
            }
        }
        .geoIcon{
            position:absolute;
            top:-135px;
            left:-340px;
            opacity:0;
            transition: .5s;

            &.active{
                left:-240px;
                opacity:1;
                transition: .5s;
            }
        }
        .coffeIcon{
            position:absolute;
            bottom:-370px;
            right:-340px;
            opacity:0;
            transition: .5s;

            &.active{
                right:-240px;
                opacity:1;
                transition: .5s;
            }
        }
    }

    &.active{
        transition: .5s;
        opacity:1;
    }
}