@font-face {
    font-family: text-black;
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-black.woff') format('woff');
}
@font-face {
    font-family: text-medium;
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff') format('woff');
}

.screen{
    display: flex;
    width:100%;
    height:fit-content;
    margin-top:104.48px;

    
    @media (max-width:768px) {
        margin-top:72px;
    }

    .textBlock{
        width:407px;
        height:fit-content;
        color:#21201F;
        margin-left:260px;

        @media (max-width:768px) {
            width:311px;
            margin-left:32px;
        }

        .title{
            font-size:48px;
            font-family: text-black;
            letter-spacing: -0.96px;
            line-height:100%;
            opacity:0;
            transition: .5s;

            @media (max-width:768px) {
                font-size: 32px;
                letter-spacing: -0.64px;
                opacity:1;
            }

            &.active{
                opacity:1;
                transition: .5s;
            }
        }

        .caption{
            margin-top:48px;
            font-size:24px;
            font-family: text-medium;
            width:419px;
            opacity:0;
            transition: .5s;

            @media (max-width:768px) {
                width: 311px;
                margin-top:32px;
                font-size: 16px;
                line-height: 120%;
                opacity:1;
            }

            &.active{
                opacity:1;
                transition: .5s;
            }
        }
    }

    .imgBlock{
        width:fit-content;
        height: fit-content;
        position: relative;
        margin-left:165px;
        opacity:0;
        transition: .5s;

        @media (max-width:768px) {
            display: none;
        }

        &.active{
            opacity:1;
            transition: .5s;
        }

        .scooterSubscription{
            position: absolute;
            z-index:1;
        }

        .plusIcon{
            position: absolute;
            top:0;
            left:-50px;
            z-index:2;
            opacity:0;
            transition: 1s;

            &.active{
                opacity:1;
                transition: 1s;
                top:90px;
            }
        }

        .shadow{
            position: absolute;
            width: 412.783px;
            height: 369.042px;
            transform: rotate(-140.03deg);
            border-radius: 412.783px;
            opacity: 0.29;
            background: #8241EF;
            filter: blur(100px);
            left:150px;
            top:0px;
        }
    }
}