@font-face {
    font-family: text-black;
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-black.woff') format('woff');
}
@font-face {
    font-family: text-medium;
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff') format('woff');
}
$fontColor-black:#21201F;

.screen{
    position: relative;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    height:804px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%), linear-gradient(90deg, rgba(255,92,77,0.22) 0%, rgba(235,70,159,0.22) 25%, rgba(131,65,239,0.22) 72%, rgba(63,104,249,0.22) 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));

    @media (max-width:768px) {
        height:674.82px;
    }

    .contentBlock{
        display: flex;
        flex-direction: column;
        margin-left:262px;
        margin-top:124.94px;
        z-index: 1;
        
        @media (max-width:768px) {
            margin-left:32px;
            margin-top:32px;
        }

        .title{
            font-family: text-black;
            color: $fontColor-black;
            font-size:72px;
            letter-spacing: -1.44px;
            line-height: 100%;
            width:420px;
            font-style: normal;
            margin-top:72px;

            @media (max-width:768px) {
                font-size:36px;
                letter-spacing: -0.72px;
                width:311px;
                margin-top:32px;
            }
        }

        .caption{
            display:inline-block;
            font-size:24px;
            color: $fontColor-black;
            font-family: text-medium;
            line-height:130%;
            width:465px;
            height:79px;
            margin-top:48px;
            
            @media (max-width:768px) {
                font-size:18px;
                width:311px;
                height:59px;
                margin-top:35px;
            }

                .price{
                    display: inline-block;
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
                    border-radius:500px;
                    
                    

                    .curPrice{
                        display: inline-block;
                        background: radial-gradient(100% 100% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%),
                        linear-gradient(0deg, rgba(255, 255, 255, 0.63), rgba(255, 255, 255, 0.63));
                        line-height: 100%;
                        border-radius:500px;
                        padding:4px 12px;
                    }
    
                    .prevPrice{
                        margin: 11px;
                        font-size: 16px;
                        text-decoration: line-through;
                        line-height: 100%;
                        vertical-align:middle;
                    }
                }
                
        }

        .button{
            margin-top:44px;

            @media (max-width:768px) {
                display: none;
            }
        }
    }

    .illustrationBlock{
        position:relative;
        top:120px;
        left:-165px;

        @media (max-width:768px) {
            position: absolute;
            top:339.57px;
            left:7.31px;
        }

        .img{
            @media (max-width:768px) {
                width:319.798px;
                height:265.639px;
            }
        }

        @keyframes circleTextAnimation{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(-360deg);
            }
        }
        .circleText{
            position: absolute;
            top:290px;
            left:220px;
            animation: circleTextAnimation 45s linear infinite;

            @media (max-width:768px) {
                top:137px;
                left:87.97px;
                width:79.932px;
                height:79.932px;
            }
        }
    }
}